@layer base {
  input,
  textarea {
    @apply flex p-2 min-h-10 rounded-md border border-accent focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200;
  }
}

@layer components {
  .primary-btn {
    @apply bg-primary hover:bg-primary-hover text-primary-contrast font-semibold flex w-fit items-center justify-center px-4 py-2 min-h-10 rounded-md transition duration-400;
  }

  .secondary-btn {
    @apply bg-accent hover:bg-accent-hover text-accent-contrast font-semibold flex w-fit items-center justify-center px-4 py-2 min-h-10 rounded-md transition duration-400;
  }

  .card {
    @apply flex flex-col p-8 gap-4 border bg-background border-border rounded-md shadow-primary/10 hover:shadow-md hover:border-primary transition duration-400;
  }
}
