@layer base {
  html,
  body {
    @apply flex flex-col min-h-screen overflow-x-hidden bg-background;
  }

  button {
    @apply not-disabled:cursor-pointer;
  }

  img {
    @apply select-none;
  }
}
