@layer base {
  h1 {
    @apply text-5xl md:text-7xl tracking-tight;
  }

  h2 {
    @apply text-4xl md:text-5xl tracking-tight;
  }

  h3 {
    @apply text-3xl font-semibold tracking-tight;
  }

  h4 {
    @apply text-xl font-medium tracking-tight;
  }

  h5 {
    @apply text-lg font-medium tracking-wide;
  }

  h6 {
    @apply text-base font-medium tracking-wide;
  }

  p {
    @apply text-base font-normal tracking-wider;
  }
}
